[Unit]
Description=StdRequestBot - Telegram Automated Join Request Approver Daemon
After=network.target mongodb.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/stdbots/StdRequestBot
ExecStart=/opt/stdbots/StdRequestBot/bin/bot
Restart=always
RestartSec=5
EnvironmentFile=/opt/stdbots/StdRequestBot/.env
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
